<h1><%= @user.name %>さんのページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<% if @user.icon.present? %>
  <p>画像: <%= image_tag @user.icon.url %></p>
<% end %>

<%= link_to 'プロフィール編集', edit_user_path(@user.id) %>
<%= link_to '新規投稿をする', new_picture_path %>
<%= link_to '投稿一覧', pictures_path %>